appdirs==1.4.3
appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.6.0
biopython==1.68
bioservices==1.4.17
bleach==1.5.0
bz2file==0.98
CacheControl==0.11.7
chembl-webresource-client==0.8.51
click==6.7
colorama==0.3.9
colorlover==0.2.1
configparser==3.5.0
contextlib2==0.5.5
cufflinks==0.12.0
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
easydev==0.9.34
easydict==1.6
entrypoints==0.2.3
enum34==1.1.6
ez-setup==0.9
functools32==3.2.3.post2
future==0.16.0
gevent==1.1.2
greenlet==0.4.12
grequests==0.2.0
html5lib==0.999
imageio==2.1.2
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isodate==0.5.4
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
keepalive==0.5
lockfile==0.12.2
lxml==3.8.0
MarkupSafe==0.23
matplotlib==2.0.2
matplotlib-venn==0.11.5
mistune==0.7.4
mmtf-python==1.0.5
moviepy==0.2.3.2
msgpack-python==0.4.8
music21==3.1.0
natsort==5.0.3
nbconvert==5.2.1
nbformat==4.3.0
networkx==1.11
nose==1.3.7
notebook==5.0.0
numpy==1.11.3
onto2nx==0.1.0
pandas==0.20.1
pandocfilters==1.4.1
pathlib2==2.2.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
PIL==1.1.7
Pillow==3.4.2
plip==1.3.4
plotly==2.0.9
Pmw==2.0.1
prompt-toolkit==1.0.14
ptyprocess==0.5.1
py2neo==3.1.2
PyBEL==0.4.0
PyBioMed==1.0
pydpi==1.0
pyfiglet==0.7.5
Pygments==2.2.0
pymol==1.8.0.0
pyparsing==2.1.4
python-dateutil==2.6.0
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.0
rdflib==4.2.2
rdflib-jsonld==0.4.0
reportlab==3.4.0
requests==2.14.2
requests-cache==0.4.13
requests-file==1.4.1
scandir==1.5
scikit-bio==0.4.2
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
seqlearn==0.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SPARQLWrapper==1.8.0
SQLAlchemy==1.1.11
statsmodels==0.8.0
subprocess32==3.2.7
suds-jurko==0.6
terminado==0.6
testpath==0.3
tornado==4.5.1
tqdm==4.11.2
traitlets==4.3.2
urllib3==1.20
wcwidth==0.1.7
widgetsnbextension==2.0.0
wrapt==1.10.10
xmltodict==0.11.0
Zinc==0.1.17
